<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>
<p>Added on <%= @recipe.created_at %></p>

<h4>Ingredients</h4>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<h4>Instructions</h4>
<ol>
  <% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.step %></li>
  <% end %>
</ol>

<%= link_to "Edit", edit_recipe_path, class: "btn btn-sm btn-primary" %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure you want to delete this recipe? This cannot be undone!"}, class: "btn btn-sm btn-danger" %>

<%= link_to "Back to list", root_path, class: "btn btn-sm btn-default" %>